*{
    font-family: 'Oswald', sans-serif !important;
}

$primary-color: #3167eb;
$primary-background: #F9F9F9;


.feature{
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.category span{
    font-size: 22px;
}
.category__card ul{
    list-style-type: square;
}
.product{
    /* width: 100%; */
    background-color: white;
    overflow: hidden;
}
.product:hover{
    box-shadow: 0 0 16px 4px gray;
    animation: productAnimetion linear .3s forwards;
}
@keyframes productAnimetion{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-30px);
    }
}

@media only screen and (max-width:700px){
    .m-padding-0{
        padding: 0 !important;
    }
    .product img{
        width: 100% !important;
        height: 100%;
    }
    .product:hover{
        box-shadow: 0 0 4px 1px gray;
        animation: none !important;
    }
}
@media only screen and (max-width:1200px){
    .product:hover{
        animation: none;
    }
}
